<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false"
         testdox="true">
    <testsuites>
        <testsuite name="Lursoft PHP Package Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Exceptions</directory>
        </exclude>
    </coverage>
    <php>
        <env name="LURSOFT_CLIENT_ID" value="test_client_id"/>
        <env name="LURSOFT_CLIENT_SECRET" value="test_client_secret"/>
        <env name="LURSOFT_USERNAME" value="test_username"/>
        <env name="LURSOFT_PASSWORD" value="test_password"/>
        <env name="LURSOFT_SCOPE" value="test_scope"/>
        <env name="LURSOFT_BASE_URL" value="https://api.lursoft.lv"/>
    </php>
</phpunit>
